.pRelative {
    position: relative;
    .form-control {
        padding-right: 35px;
    }
}
.pwd-icon {
    position: absolute;
    right: 14px;
    top: 16px;
    font-size: 13px;
    color: #a3acb9;
}